/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;  
  background: white;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #999;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 0.8);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px;
}

.nav li {
  padding: 5px 10px 10px 10px;
  background: white;
  border: 1px solid black;
  /*background: #f6f6f6;*/
}

.nav a {
  transition: all .5s; 
  font-size: 15px;
  color: black;
}

.nav a:hover {
  color: #AD2A1A;
  border-color: blue;
  

}

header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
  /*position: relative;*/
}

header div {
  margin-top: 100px;
}

header h2:nth-of-type(1){
  font-size: 2.5em;
  text-transform:uppercase;
  margin-bottom: 15px;
  padding-top: 15px;
}

header h2:nth-of-type(2){
  font-size: 1.5em;
  color:#781125;
  margin-top: 0px; 
}

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

header .name{
  font-size: 3em;
}
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #781125;
  clear: both;
}
.card:hover {
  border-color: #96731A;
}


.photo{
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading{
  font-size: 1.8em;
  text-transform: uppercase;
  color: #781125;
  margin-top: 10px;
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

footer ul li {
  display: inline-block;
  background: black;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(../img/twitter-32.png);
}

a.youtube {
  background-image: url(../img/youtube-32.png);
}

a.spotify {
  background-image: url(../img/spotify-32.png);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.newsletter {
  margin-top: 22px;
}

.newsletter label {
  float: left;
}
.newsletter input {
  width: 100%;
  padding:5px 0;
  margin-bottom: 5px;

}

.newsletter button {
 width: 50%;
 margin-top: 5px;
 padding: 5px 0;
}


.newsletter input:focus, textarea:focus {background-color: lightgray; color: black;}

.survey input:focus {background-color: white; color: black; padding-top: 10px;}
/* Styles for larger screens */
@media screen and (min-width: 840px) {

  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }

  header {
    min-height: 470px;
  }

  header h2:nth-of-type(1){
  font-size: 4em;
  margin-bottom: 25px;
  padding-top: 25px;
}

header h2:nth-of-type(2){
  font-size: 2em;
}

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  .nav a {
  font-size: 25px;
  
}

.newsletter input {  
  padding:10px 0;
}

.newsletter button {
 margin-top: 15px;
 padding: 15px 0;
}

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .card{
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }

  .photo{
    width: 30%;
    margin: 20px 30px;
  }

  .information{
    text-align: left;
  }


  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
